.sidebar {
    color: white;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: white; /* color of the scroll thumb */
    border-radius: 6px; /* roundness of the scroll thumb */
  }
  