.whiteboard {
  height: 100%; /* full height */
  width: 100%; /* full width */
  display: flex;
  align-items: center; /* centers vertically */
  justify-content: center; /* centers horizontally */
  max-height: 1200px;
  flex-direction: column; /* ensures flex items are stacked vertically */
}
  
  .whiteboard__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Add additional styling as needed */
  }
  
  .whiteboard__row img {
    max-width: 100px; /* Adjust the size as needed */
    margin: 10px;
    /* Add additional styling as needed */
  }
  